* {
  padding: 0;
  margin: 0;
  font-family: system-ui;
}

.nav {
  background-color: rgb(40, 40, 40);
}

.nav p {
  color: white;
  font-size: 30px;
  padding: 30px;
}

.container {
  padding: 100px;
}

.header .row {
  margin-top: 100px;
}

.task {
  width: 90%;
  font-size: 20px;
}

.list-group {
  margin-top: 50px;
  padding: 30px;
}

.task .trash {
  float: right;
  height: 25px;
  cursor: pointer;
  margin-top: 3px;
}

.task input {
  cursor: pointer;
}

.strike-through:checked + span {
  text-decoration: line-through;
}
